@page

@using System.Globalization
@using Mabusall.Notification.Views.Account
@using Mabusall.Resources

@model VerifyEmailModel
@{
    var viewModel = ViewContext.ViewData.Model as VerifyEmailModel;
    var isArabic = viewModel!.LanguageIsoCode!.Equals("ar", StringComparison.OrdinalIgnoreCase);

    // set the thread language
    Thread.CurrentThread.CurrentUICulture = new CultureInfo(viewModel!.LanguageIsoCode!);

    // format the body
    var messageKey = viewModel.UserTypeId == 2 ?
        EmailNotificationResources.VerifyEmailTemplate_SpAdmin_Body
        :
        EmailNotificationResources.VerifyEmailTemplate_SpUser_Body;
    var message = string.Format(messageKey, viewModel.ServiceProviderName, viewModel.RedirectUrl);

    Layout = "_EmailLayout";
    ViewBag.IsArabic = isArabic;
    ViewBag.SiteUrl = viewModel!.SiteUrl;
    ViewBag.Team = EmailNotificationResources.Team;
    ViewBag.DoNotReplyToThisMail = EmailNotificationResources.DoNotReplyToThisMail;
    ViewBag.Copyright = EmailNotificationResources.Copyright;
    ViewBag.NeedHelp = EmailNotificationResources.NeedHelp;
    ViewBag.NeedForHelpMessage = EmailNotificationResources.NeedForHelpMessage;
    ViewBag.EmailTitle = EmailNotificationResources.VerifyEmailTemplate_Title;
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-size: 20px; line-height: 40px; color: #282828;">
                <p>@EmailNotificationResources.WelcomeMessage,</p>
            </td>
        </tr>
        <tr>
            <td style="font-size: 16px;" dir='@(isArabic ? "rtl" : "ltr")'>
                <p>
                    @Html.Raw(message)
                </p>
            </td>
        </tr>
    </tbody>
</table>